@charset "UTF-8";
.content{
    width: 100%;
    height: 1010px;
}
.content-box{
    width: 1200px;
    height: 1010px;
    margin: 0 auto;
    padding:0 15px;
}
/*------------------------------------设置小导航--------------------------------*/

.content-box .list-group{
    height: 25px;
    margin-top: 30px;
}
.content-box .list-group li{
    display: inline-block;
    margin:5px;
    text-align: center;
}
.content-box .list-group li a{
    font-size: 12px;
    color: #333;
}
.content-box .list-group li .redcol{
    color: #fd0001;
}
.content-box .list-group li .redcol:hover{
    color: #333;
}

/*--------------------------设置details--------------------------------*/

.content .details{
    width: 1150px;
    height: 710px;
}
/*------------------------------details-wrap块--------------*/
 .details .details-wrap{
    width: 85%;
    height: inherit;
}
 .details .details-wrap .img-wrap{
    width: 55%;
    height: inherit;
}
 .details-wrap .img-wrap .img-box{
     width: 520px;
     padding: 38px 0 10px;
     border-bottom: 1px solid #e0e0e0;
     position: relative;
}


#img-box{
    border: 1px solid red;
    // position: relative;
}

 /*------放大镜-------------*/
#small-box {
    position: relative;
    z-index: 1;
    border: 1px solid yellow;
}
/*定义小图*/
#glass-box{
    display: none;
    width: 160px;
    height: 120px;
    position: absolute;
    background: #ffffcc;
    border: 1px solid #ccc;
    filter: alpha(opacity=50);
    opacity: 0.5;
}/*定义放大镜*/

#big-box {
    display: none;
    position: absolute;
    top: 100px;
    left: 520px;
    width: 500px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
    z-index: 1;
    background-color: white;
}

#big-box img {
    position: absolute;
    z-index: 5
}


 .img-wrap .slide{
     width: 520px;
     height: 95px;
     padding: 0 25px;
     overflow: hidden;
     position: relative;
}
 /*--------设置btn*/
.img-wrap .slide .btn-prev{
    width: 12px;
    height: 22px;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 10px;
    background: url("../images/header/arrow.png") no-repeat 0px -103px;
}
.img-wrap .slide .btn-next{
    width: 12px;
    height: 22px;
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 10px;
    background: url("../images/header/arrow.png") no-repeat -11px -124px;
}
.img-wrap .slide .small{
    width: 600px;
    height: inherit;
}
.img-wrap .slide .small li{
    display: inline-block;
    padding-bottom: 12px;
    margin: 0 18px;
    text-align: center;
}
 .img-wrap .slide .small a{
    display: inline-block;
     width: 80px;
     height: 80px;
     border-bottom:  3px solid #f00;
 }
 /*-------details右侧样式*/
 .details-wrap .about{
    width: 42%;
    height: 590px;
     margin:30px 25px 0 0;
}
.details-wrap .about .abt-tit{
    font-size: 30px;
    font-weight: bold;
    margin: 0;padding: 0;
    letter-spacing: 0;
    word-spacing: -5px;
    font-family: 'geogtq-md', "微软雅黑", "黑体", "宋体", Arial, Helvetica, sans-serif;
    color: #333;
}
.about .jiage{
    font-size: 26px;
    color: #333;
    margin: 0;padding: 0;
}
.about .bianhao{
    font-size: 12px;
    color: #666;
    margin-bottom: 17px;
}
.about .change img{
    width: 38px;
}
.about .change li{
    display: inline-block;
    height: 38px;
}
.about .change li:last-child{
    border:3px solid #f00;
}
.about .abt-color, .size a, .num p, .num span, .share-1{
    font-size: 14px;
    color: #333;
}
.about .size{
    margin-top: 40px;
}
.about .size .red-color{
    display: inline-block;
    margin-left: 250px;
    color: #f00;
    font-size: 12px;
}
.about .size span{
    display: inline-block;
    width: 39px;
    height: 32px;
    margin: 10px 5px;
    color:#333;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    background-color:#eaeaea;
}
.about .size span:hover{
    background-color: #f00;
}
.about .num select{
    width: 140px;
    height: 28px;
    background-color: #eaeaea;
    outline: none;
    border: none;
}
.about .shopping-care {
    display: inline-block;
    width: 225px;
    height: 45px;
    color: #fff;
    margin-top:30px;
    background-color: #f00;
    text-align: center;
    line-height: 45px;
}
.about .shopping-care:hover{
    background-color: black;
}
.about .share{
    height: 30px;
    margin-top: 55px;
}
.about .share img{
    width: 30px;
    margin-right:  3px;
}
.about .share .weixin{
    position: relative;
    top:3px;
}
/*-----------右侧猜你喜欢---------*/
.content .details .details-like{
    width: 15%;
    border-left: 3px solid #e0e0e0;
    margin-top: 30px;padding: 0 0 20px 45px;
}
.details-like .like-tit{
    margin: 0;padding: 0;
    font-size: 14px;
    width: 120px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #999;
    color: #fff;
}
.details-like .tit-icon{
    position: relative;
    left: 50px;
    top:-8px;
}
.details-like .con-box section{
    text-align: center;
}
.details-like .con-box section .cost{
    font-weight: 700;
}
.con-box section .cost-1{
    color: #f00;
    font-weight: 700;
}
.con-box section .yuanjia{
    text-decoration: line-through;
    color: #333333;
}
.details-like .con-box p{
    font-size: 12px;
    margin: 0; padding: 0;
    text-align: center;
}

/*-------------------tab-box-------------------*/
.tab-box{
    width: 100%;
    height: 70px;
    margin-top:50px;
    position: relative;
}
.tab-box .tab{
    width: 514px;
    height: inherit;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.tab-box .tab a{
    display: inline-block;
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    border-radius: 5px;
    background-color: black;
}
.tab-box .tab a:hover{
    background-color: #f00;

}
.tab-box .tab a:hover .icon{
    display: block;
}
.tab-box .left{
    position: absolute;
    top:20px;
    left: 0;
}
.tab-box .rig{
    position:absolute ;
    top:20px;
    right: 0;
}
.down-icon-1{
    width: 0;
    height: 0;
    display:none;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 100;
    border-top: 15px solid red;
    position: absolute;
    left: 100px;
    bottom: 10px;
}
.down-icon-2{
    width: 0;
    height: 0;
    display:none;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 100;
    border-top: 15px solid red;
    position: absolute;
    left: 240px;
    bottom: 10px;
}
.down-icon-3{
    width: 0;
    height: 0;
    display:none;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    z-index: 100;
    border-top: 15px solid red;
    position: absolute;
    right: 110px;
    bottom: 10px;
}
.content-box>p{
    font-size: 14px;
    margin:10px 0 30 0px;
    color: #333;
    line-height: 20px;

}
